<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2015 Ellucian Company L.P. and its affiliates.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission android:name="com.ellucian.elluciango.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.ellucian.elluciango.permission.C2D_MESSAGE"/>

    <application
        android:name="com.ellucian.mobile.android.EllucianApplication">

        <!-- Content Provider -->
        <provider
            android:name="com.ellucian.mobile.android.provider.EllucianProvider"
            android:authorities="com.ellucian.mobile.android.contentprovider"
            android:exported="false" />

        <!-- GCM receiver -->
        <receiver android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.ellucian.elluciango"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>