iOS/*.pbxuser
iOS/*.hmap
iOS/*.ipa
iOS/*.mode1v3
iOS/*.mode2v3
iOS/*.moved-aside
iOS/*.perspectivev3
iOS/*.xccheckout
iOS/*.xcuserstate
iOS/*.xcscmblueprint
iOS/build/
iOS/DerivedData
iOS/fastlane/
iOS/Mobile.xcodeproj/xcuserdata
iOS/Mobile.xcodeproj/project.xcworkspace/xcuserdata
iOS/xcuserdata
Mobile.xccheckout
**/.DS_Store
Android/.gradle
Android/local.properties
Android/.idea/workspace.xml
Android/.idea/libraries
Android/app/build
.idea
Android/build/intermediates
