<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ellucian.elluciango"
    android:versionCode="456"
    android:versionName="3.0.0.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="false" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	
	<!-- GCM (Notification) permissions -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission android:name="com.ellucian.elluciango.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
	<uses-permission android:name="com.ellucian.elluciango.permission.C2D_MESSAGE"/>
			
	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <permission
          android:name="com.ellucian.elluciango.permission.MAPS_RECEIVE"
          android:protectionLevel="signature"/>
    <uses-permission android:name="com.ellucian.elluciango.permission.MAPS_RECEIVE"/>
    
    <application
        android:name="com.ellucian.mobile.android.EllucianApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Ellucian" 
        android:allowBackup="false"
        android:supportsRtl="true" >
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyAYa_aPD3dNq7p3-HYE59-BXhaoPBlLfiA"/>
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        
        <provider
            android:name="com.ellucian.mobile.android.provider.EllucianProvider"
            android:authorities="com.ellucian.android.mobile.contentprovider"
            android:exported="false" />

        
	<!-- ACTIVITIES -->
         
        <!-- Main and Configuration -->
        <activity
            android:name="com.ellucian.mobile.android.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.schoolselector.ConfigurationLoadingActivity"
            android:label="@string/title_activity_configuration_loading"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:noHistory="true" >            
            <intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.VIEW" />
          		<category android:name="android.intent.category.DEFAULT" />
          		<category android:name="android.intent.category.BROWSABLE" />
          		<data android:scheme="https" android:host="mobile.elluciancloud.com" android:pathPrefix="/mobilecloud/configuration" />
            </intent-filter> 
        </activity>
  
        <activity
            android:name="com.ellucian.mobile.android.app.SendToSelectionReceiverActivity"
            android:noHistory="true" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.app.ConfigurationUpdateReceiverActivity"
            android:noHistory="true" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.app.OutdatedReceiverActivity"
            android:noHistory="true" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.schoolselector.SchoolSelectionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_school_selection"
            android:noHistory="true" >
            <intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.VIEW" />
          		<category android:name="android.intent.category.DEFAULT" />
          		<category android:name="android.intent.category.BROWSABLE" />
          		<data android:scheme="https" android:host="mobile.elluciancloud.com" android:pathPrefix="/mobilecloud/cloud" />
            </intent-filter>
        </activity>
        
        <!-- Default -->
        <activity
            android:name="com.ellucian.mobile.android.app.EllucianDefaultDetailActivity"
            android:label="@string/title_activity_default_detail" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>
        </activity>
        
        
        <!-- About -->
		<activity
            android:name="com.ellucian.mobile.android.about.AboutActivity"
            android:label="@string/title_activity_about" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>
        </activity>
        
		
		<!-- Courses -->
        <activity
            android:name="com.ellucian.mobile.android.courses.overview.CourseOverviewActivity"
            android:label="@string/title_activity_course_overview" >
         	<meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
		
        <activity
            android:name="com.ellucian.mobile.android.courses.assignments.CourseAssignmentsActivity"
            android:label="@string/title_activity_course_assignments" >
         	<meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.courses.assignments.CourseAssignmentsDetailActivity"
            android:label="@string/title_activity_course_assignments_detail" >
         	<meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.courses.announcements.CourseAnnouncementsActivity"
            android:label="@string/title_activity_course_announcements" >
         	<meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.courses.announcements.CourseAnnouncementsDetailActivity"
            android:label="@string/title_activity_course_announcements_detail" >
         	<meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.courses.events.CourseEventsActivity"
            android:label="@string/title_activity_course_events" >
         	<meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.courses.events.CourseEventsDetailActivity"
            android:label="@string/title_activity_course_events_detail" >
         	<meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        
        <activity
            android:name="com.ellucian.mobile.android.courses.daily.CoursesDailyScheduleActivity"
            android:label="@string/title_activity_courses_daily_schedule" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.courses.full.CoursesFullScheduleActivity"
            android:label="@string/title_activity_courses_full_schedule" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <!-- Directory -->
        <activity
            android:name="com.ellucian.mobile.android.directory.DirectoryActivity"
            android:label="@string/title_activity_directory" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.directory.DirectoryListActivity"
            android:label="@string/title_activity_directory_list_all" 
            android:launchMode="singleTop" android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable_directory"/>
            <meta-data
       	 		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.directory.DirectoryDetailActivity"
            android:label="@string/title_activity_directory_detail" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        	
		<!-- Events -->
		<activity
            android:name="com.ellucian.mobile.android.events.EventsActivity"
            android:label="@string/title_activity_events"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop" android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable_events"/>
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.events.EventsDetailActivity"
            android:label="@string/title_activity_events_detail" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
		
        
        <!-- Grades -->
        <activity
            android:name="com.ellucian.mobile.android.grades.GradesActivity"
            android:label="@string/title_activity_grades" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>            
        </activity>
        
        
        <!-- Maps -->
        <activity
            android:name="com.ellucian.mobile.android.maps.MapsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_maps" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.ellucian.mobile.android.maps.BuildingListActivity" />
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>            
        </activity>
        <activity
            android:name="com.ellucian.mobile.android.maps.LegalNoticesActivity"
            android:label="@string/title_activity_maps" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>
        </activity>
        
        <activity 
            android:name="com.ellucian.mobile.android.maps.BuildingDetailActivity" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>

        <activity 
            android:name="com.ellucian.mobile.android.maps.BuildingInfoDetailActivity" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.maps.MapsSingleLocationActivity"
             >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>
        </activity>
        
        <activity
            android:label="@string/maps_building_list_label"
            android:name="com.ellucian.mobile.android.maps.BuildingListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_buildings" />
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <!-- Multimedia -->   
        <activity
            android:name="com.ellucian.mobile.android.multimedia.VideoActivity"
            android:label="@string/title_activity_video">
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.multimedia.AudioActivity"
            android:label="@string/title_activity_audio">
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <!-- News -->
        <activity
            android:name="com.ellucian.mobile.android.news.NewsActivity"
            android:label="@string/title_activity_news"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop" android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable_news"/>
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.news.NewsDetailActivity"
            android:label="@string/title_activity_news_detail" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        
		<!-- Notifications -->
        <activity
            android:name="com.ellucian.mobile.android.notifications.NotificationsActivity"
            android:label="@string/title_activity_notifications" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>

        <activity 
            android:name="com.ellucian.mobile.android.notifications.NotificationsDetailActivity" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>

        
    	<!-- Numbers -->
        <activity
            android:name="com.ellucian.mobile.android.numbers.NumberListActivity"
            android:label="@string/title_number_list" 
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop" android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable_numbers"/>
            <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        <activity 
            android:name="com.ellucian.mobile.android.numbers.NumbersDetailActivity" 
            android:label="@string/title_number_detail" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <!-- Registration -->
        <activity
            android:name="com.ellucian.mobile.android.registration.RegistrationActivity"
            android:label="@string/title_activity_registration" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <activity
            android:name="com.ellucian.mobile.android.registration.RegistrationDetailActivity"
            android:label="@string/title_activity_registration_detail" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        <!-- Webframe -->
        <activity
            android:name="com.ellucian.mobile.android.webframe.WebframeActivity"
            android:label="Webframe" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value="com.ellucian.mobile.android.MainActivity"/>  
        </activity>
        
        
	<!-- SERVICES -->
		<service android:name="com.ellucian.mobile.android.client.services.AuthenticateUserIntentService" ></service>
		<service android:name="com.ellucian.mobile.android.client.services.ConfigurationUpdateService" ></service>
		<service android:name="com.ellucian.mobile.android.client.services.CourseDetailsIntentService" ></service>
		<service android:name="com.ellucian.mobile.android.client.services.CourseGradesIntentService" ></service>
		<service android:name="com.ellucian.mobile.android.client.services.CourseRosterIntentService" ></service>
		<service android:name="com.ellucian.mobile.android.client.services.CourseAssignmentsIntentService" ></service>
		<service android:name="com.ellucian.mobile.android.client.services.CourseAnnouncementsIntentService" ></service>
		<service android:name="com.ellucian.mobile.android.client.services.CourseEventsIntentService" ></service>
		<service android:name="com.ellucian.mobile.android.client.services.CoursesFullScheduleIntentService" ></service>
        <service android:name="com.ellucian.mobile.android.client.services.EventsIntentService" ></service>
        <service android:name="com.ellucian.mobile.android.client.services.GradesIntentService" ></service>
        <service android:name="com.ellucian.mobile.android.client.services.ImageLoaderService" ></service>
        <service android:name="com.ellucian.mobile.android.client.services.MapsIntentService" ></service>
        <service android:name="com.ellucian.mobile.android.client.services.NewsIntentService" ></service>
        <service android:name="com.ellucian.mobile.android.client.services.NotificationsIntentService" ></service>
        <service android:name="com.ellucian.mobile.android.client.services.NumbersIntentService" ></service>
                    
        <!-- GCM receiver -->
        <receiver android:name="com.ellucian.mobile.android.notifications.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.ellucian.elluciango"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.ellucian.elluciango"/>
            </intent-filter>
        </receiver>
        
    <service android:name="com.ellucian.mobile.android.notifications.GcmIntentService"/>
        
    </application>

</manifest>
